body{
  background-image: url('https://cdn.pixabay.com/photo/2014/12/12/06/41/weight-lifting-565126_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

 .App {
  text-align: center;
}
button{
  height: 50px;
  background: rgb(155, 14, 14);
  border-radius: 39%;
  font-size: 20px;
  font-family: Againts;
  font-weight: 700;
  color: whitesmoke;
  
}
 input{
  background: #070580;
  height: 50px;
  border-radius: 26%;
  font-size: 26px;
  font-family: Againts;
  font-weight: 600;
  margin: 13px;
  color: gainsboro;
} 
.header{
  font-family: a dripping marker;
  font-size: 80px;
  color: rgb(155, 14, 14);
  letter-spacing: 7px;
}

.tile{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: left;
	align-items: baseline;
	align-content: stretch; 
  color: rgb(220, 220, 220);
  font-size: 25px;
  font-family: Againts;
  width: 200px; 
}

.mappedworkouts{
  display: flex;
}

img{
  width: 20px;
  height: 20px
}
